<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Stylesheet Ref -->
    <link rel="stylesheet" href="styles/order.css" type="text/css">
    <link rel="stylesheet" href="styles/layout.css" type="text/css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <title>Order</title>
  </head>
  
  <body>

    <!--Nav Bar-->

    <nav>
      <h1>Zebra</h1>
      <ul>
        <li><a href="/zebra">Home</a></li>
        <li><a href="#">Order</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </nav>

    <!--Nav Bar-->

    <!--Main-->
  
    <main>
      <form action="/test" method="POST">
        <div class="orderwrapper">

        </div>
      
        <div class="order">
          <p class="customerorder">Your Order Total:</p>
        
          <div class="finalprice">
            <p>$60</p>
            <input type="submit" class="btn btn-info" value="Order"/>
          </div>
        
        </div>
      
      </form> 
    </main>

    <!--Main-->
  
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  </body>
</html>


