<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/styles/style.css" type="text/css">
  <title>Order</title>
</head>
<body>

  <nav>
    <h1>Restaurant App</h1>
    <ul>
      <li>lorem</li>
      <li>hipster</li>
      <li>bacon</li>
    </ul>
  </nav>

  <main>
    <section>
      <span id="increment">+</span>
      <span id="decrement">_</span>
      <h1>Pasta</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aliquid molestias maxime sit? Iure, adipisci? Quam ut fugiat, quidem distinctio necessitatibus doloremque illum? Voluptate fugit dignissimos dolores a, hic aliquid?</p>
      <p>$50</p>
    </section>

    <section>
      <span id="increment">+</span>
      <span id="decrement">_</span>
      <h1>Lobster</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita commodi rem quasi ipsa unde, aliquid reprehenderit in repellendus porro vel nam officiis neque quo aut dolores. Dolore maiores ullam ipsam?</p>
      <p>$50</p>
    </section>

    <section>
      <span id="increment">+</span>
      <span id="decrement">_</span>
      <h1>Cheese</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est officiis soluta laudantium eligendi expedita nam veniam ex, in nisi doloribus molestias modi exercitationem quibusdam sunt numquam? Dolore harum voluptatibus nemo.</p>
      <p>$50</p>
    </section>

    <section>
      <span id="increment">+</span>
      <span id="decrement">_</span>
      <h1>Bread</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis adipisci iusto facere, fugit nesciunt ex tempora illo tenetur, autem quae corporis modi quibusdam veritatis rerum enim libero voluptatem nostrum quasi!</p>
      <p>$50</p>
    </section>
  </main>

  <aside>
    <div class="sectionwhole">
      <h1>Your Order</h1>

      <section>
        <p>pasta linguini</p>
        <span>+</span>
        <span>-</span>
        <span>x</span>
        <h4>price: 10 buck</h4>
        <h4>quantity: 1</h4>
      </section>

      <section>
        <p>pasta linguini</p>
        <span>+</span>
        <span>-</span>
        <span>x</span>
        <h4>price: 10 buck</h4>
        <h4>quantity: 1</h4>
      </section>

      <section>
        <p>pasta linguini</p>
        <span>+</span>
        <span>-</span>
        <span>x</span>
        <h4>price: 10 buck</h4>
        <h4>quantity: 1</h4>
      </section>

      <h2>Total: $30 buck</h2>
      <button>Place Order</button>
    </div>
  </aside>

</body>
</html>
